.gallery-grid {
  height: 200lvh;
  padding: 4rem 0;
  background-color: #0a0a0a;
  overflow-x: hidden;
  max-width: 100vw;
  width: 100%;
}

.gallery-grid__title {
  font-size: clamp(2rem, 7vw, 100px);
  margin: 0 auto 50px;
  width: 90vw;
  text-align: center;
  color: #fff;
}

.gallery-grid__container {
  position: relative;
  max-width: 100vw;
  overflow-x: hidden;
  width: 100%;
}

.gallery-grid__featured {
  aspect-ratio: 5/4;
  margin: 0 auto;
  position: relative;
  width: 75vw;
  max-width: 75vw;
  z-index: 10;
}

.gallery-grid__featured-inner {
  height: 100%;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}

.gallery-grid__featured-image {
  border-radius: 16px;
  height: 100%;
  object-fit: cover;
  width: 100%;
}

.gallery-grid__images {
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  pointer-events: none;
}

.gallery-grid__svg {
  height: auto;
  opacity: 0;
  width: 80vw;
  max-width: 80vw;
}

.gallery-grid__group {
  transform-origin: 1400px 950px !important;
}

/* Responsive */
@media (max-width: 1024px) {
  .gallery-grid {
    height: 180lvh;
  }

  .gallery-grid__featured {
    width: 80vw;
    max-width: 80vw;
  }

  .gallery-grid__svg {
    width: 82vw;
    max-width: 82vw;
  }
}

@media (max-width: 768px) {
  .gallery-grid {
    display: none;
  }
}
